{% extends 'base.html.twig' %}

{% block title %}Edit Duck{% endblock %}

{% block body %}
    <h1>Edit Duck</h1>

    {{ form_errors(duckEditForm) }}

    {{ form_start(duckEditForm) }}
    {{ form_row(duckEditForm.firstname) }}

    {{ form_row(duckEditForm.lastname) }}

    {{ form_row(duckEditForm.duckname) }}


    {{ form_row(duckEditForm.email) }}
    {{ form_row(duckEditForm.plainPassword, {
        label: 'Password'
    }) }}

    <button type="submit" class="btn">Update</button>
    {{ form_end(duckEditForm) }}


{% endblock %}
